<div class="panel panel-default">
  <div class="panel-heading"><h2>已激活</h2></div>
    <div class="panel-body">
      <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%#= f.error_notification %>
        <%= f.full_error :confirmation_token %>
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.button :submit, "重新发送" %>
      <% end %>
    </div>
  <div class="panel-footer"><%= render "users/shared/links" %></div>
</div>
