<%= simple_form_for @note do |f|%>
  <ul class="nav nav-pills">
    <li role="presentation" class="active edit"><a href="#">Edit</a></li>
    <li role="presentation" class="preview"><a href="#">Preview</a></li>
  </ul>
  <%= f.input :title, label: false, placeholder: 'title' %>
  <%= f.input :body, label: false %>
  <div class="row">
    <div class="col-sm-3">
      <%= f.button :submit, class: 'btn btn-primary btn-block' %>
    </div>
    <div class="col-sm-2">
      <%= link_to 'Cancel', notes_path, class: 'btn btn-default btn-block' %>
    </div>
  </div>
<% end %>