<%= simple_form_for @note do |f|%>
  <ul class="nav nav-pills nav-justified"  style="margin-bottom: 20px;">
    <li role="presentation" class="btn btn-primary">Edit</li>
    <li role="presentation" class="btn btn-default">Preview</li>
  </ul>
  <%= f.input :title, label: false, placeholder: 'title' %>
  <div class="row">
      <div class="col-md-6">
        <%= f.input :body, label: false, input_html: {"oninput" => "this.editor.update()", style: "height: 500px;"} %>
      </div>
      <div id="preview" class="col-md-6" style="word-break: break-all;"> </div>
    </div>
  <div class="row">
    <div class="col-sm-3">
      <%= f.button :submit, class: 'btn btn-primary btn-block' %>
    </div>
    <div class="col-sm-2">
      <%= link_to 'Cancel', notes_path, class: 'btn btn-default btn-block' %>
    </div>
  </div>
<% end %>


<script>
$(document).ready(function () {
  // function autosize(textarea) {
  //   $(textarea).height(500); // temporarily shrink textarea so that scrollHeight returns content height when content does not fill textarea
  //   $(textarea).height($(textarea).prop("scrollHeight"));
  // }
  // $(document).on("input", "textarea", function() {
  //   autosize(this);
  // });
  // $("textarea").each(function () {
  //   autosize(this);
  // });
  function Editor(input, preview) {
    this.update = function () {
      preview.innerHTML = markdown.toHTML(input.value);
    };
    input.editor = this;
    this.update();
  }
  var $ = function (id) { return document.getElementById(id); };
  new Editor($("note_body"), $("preview"));
});
</script>