<%
  @current_floor = 0 if @current_floor.nil?
  @current_floor += 1
%>

<div class="reply">
  <div class="media-left">
    <%=  link_to user_path(reply.user) do %>
      <%= user_photo(reply.user, 'media-object avatar-48') %>
    <% end %>
  </div>
  <div class="media-body">
    <div class="info">
      <span class="name">
        <b><%= link_to reply.user.username, user_path(reply.user) %></b>
      </span> ·
      <span class="time">
        #<%= @current_floor %> 回复于<%= time_ago_in_words(reply.created_at) %> 之前
      </span>
      <span class="pull-right">
          <span class="hideable">
          <!-- <a class="edit fa fa-pencil" data-uid="1" title="修改回帖" href="/topics/30925/replies/304274/edit"></a>
          <a data-floor="1" data-login="Rei" title="Reply to this floor" class="btn-reply fa fa-mail-reply" href="#"></a> -->
          </span>
          <%= like_reply_tag reply if current_user %>
      </span>
    </div>
    <div class="markdown">
      <p><%= markdown reply.body %></p>
    </div>
  </div>
</div>