<div class="topNav">
  <div class="topNav-width clearfix">
    <dl class="tnLeft">
      <dd>
        <h3><%= link_to '首页', root_path %></h3>
      </dd>
      <dd>
        <h3><%= link_to '帖子', topics_path %></h3>
      </dd>
      <dd>
        <h3>
          <%= link_to 'javascript:void(0)' do %>
            热门评论<i></i>
          <% end %></h3>
        <ul>
          <li><%= link_to 'Ruby', root_path %></li>
          <li><%= link_to 'Rails', root_path %></li>
          <li><%= link_to 'Dota2', root_path %></li>
        </ul>
      </dd>
      <dd>
        <h3><%= link_to 'Wiki', root_path %></h3>
      </dd>
    </dl>
    <dl class="tnRight">
      <% if user_signed_in? %>
        <dd>
          <h3>
            <%= link_to 'javascript:void(0)' do %>
              通知<i></i>
            <% end %>
          </h3>
          <ul>
            <li><%= link_to '私信', root_path %></li>
            <li><%= link_to '评论', root_path %></li>
            <li><%= link_to '@我', root_path %></li>
          </ul>
        </dd>
        <dd>
          <h3><%= link_to 'javascript:void(0)' do %>
              新建<i></i>
            <% end %></h3>
          <ul>
            <li><%= link_to '创建笔记', new_note_path %></li>
            <li><%= link_to '创建主题', new_topic_path %></li>
          </ul>
        </dd>
        <dd>
          <h3><%= link_to 'javascript:void(0)' do %>
              个人中心<i></i>
            <% end %></h3>
          <ul>
            <li><%= link_to current_user.username, user_path(current_user) %></li>
            <li><%= link_to '账户设置', edit_user_path(current_user) %></li>
            <li><%= link_to '我的笔记', notes_path %></li>
            <li><%= link_to '我的收藏', root_path %></li>
            <li><%= link_to '退出', destroy_user_session_path, method: :delete %></li>
          </ul>
        </dd>
        <% if current_user.has_role? :admin %>
          <dd>
            <h3><%= link_to '成員管理', '#' %></h3>
          </dd>
        <% end %>
      <% else %>
        <dd>
          <h3><%= link_to '登陸', new_user_session_path %></h3>
        </dd>
        <dd>
          <h3><%= link_to '註冊', new_user_registration_path %></h3>
        </dd>
      <% end %>
    </dl>
  </div>
</div>

<script >
$(function(){
  $(".topNav").slide({ type:"menu",  titCell:"dd", targetCell:"ul", delayTime:0,defaultPlay:false,returnDefault:true  });
});
</script>