<div class="topNav">
  <div class="topNav-width clearfix">
    <dl class="tnLeft">
      <dd>
        <h3><%= link_to '首页', root_path %></h3>
      </dd>
      <dd>
        <h3><%= link_to root_path do %>
            热门主题<i></i>
          <% end %></h3>
        <ul>
          <li><a href="http://sc.chinaz.com/">Ruby</a></li>
          <li><a href="http://sc.chinaz.com/">Rails</a></li>
          <li><a href="http://sc.chinaz.com/">DHH</a></li>
        </ul>
      </dd>
      <dd>
        <h3>
          <%= link_to root_path do %>
            热门评论<i></i>
          <% end %></h3>
        <ul>
          <li><%= link_to 'Ruby', root_path %></li>
          <li><%= link_to 'Rails', root_path %></li>
          <li><%= link_to 'Dota2', root_path %></li>
        </ul>
      </dd>
      <dd>
        <h3><%= link_to 'Wiki', root_path %></h3>
      </dd>
    </dl>
    <dl class="tnRight">
      <dd>
        <h3>
          <%= link_to root_path do %>
            消息<i></i>
          <% end %>
        </h3>
        <ul>
          <li><%= link_to '私信', root_path %></li>
          <li><%= link_to '评论', root_path %></li>
          <li><%= link_to '@我', root_path %></li>
        </ul>
      </dd>
      <dd>
        <h3><%= link_to root_path do %>
            创建<i></i>
          <% end %></h3>
        <ul>
          <li><%= link_to '创建笔记', root_path %></li>
          <li><%= link_to '创建主题', root_path %></li>
        </ul>
      </dd>
      <dd>
        <h3><%= link_to root_path do %>
            个人中心<i></i>
          <% end %></h3>
        <ul>
          <li><%= link_to '账户设置', root_path %></li>
          <li><%= link_to '我的笔记', users_notes_path %></li>
          <li><%= link_to '我的主题', users_topics_path %></li>
          <li><%= link_to '我的收藏', root_path %></li>
          <li><%= link_to '退出', destroy_user_session_path, method: :delete %></li>
        </ul>
      </dd>
    </dl>
  </div>
</div>

<script >
$(function(){
  $(".topNav").slide({ type:"menu",  titCell:"dd", targetCell:"ul", delayTime:0,defaultPlay:false,returnDefault:true  });
});
</script>