<div class="panel panel-default">
  <div class="panel-body">
    <div class="media" style="width: 480px; margin:0px auto; text-align: left;">
      <div class="media-left">
        <img src="https://twemoji.b0.upaiyun.com/2/svg/1f381.svg" style="width: 55px;">
      </div>
      <div class="media-body" style="line-height: 200%; text-align: center;">
        <div style="font-size: 15px">
          Just a Demo similarity to Ruby China
        </div>
        <div>
          <code style="padding: 4px 10px;">git clone git@github.com:MofiU/BBS.git</code>
        </div>
      </div>
      </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body" style="text-align: center;">
    <%= image_tag "background.jpg", style: "width: 400px; max-width: 100%;" %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">社区精华帖</div>
  <div class="panel-body row">
    <!-- <div class="col-md-6"></div>
    <div class="col-md-6"></div> -->
    <%= render @cream_topics %>
  </div>
  <div class="panel-footer"><%= link_to '查看更多精华帖...', creams_topics_path %></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">分类导航</div>
  <div class="panel-body">

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">名人堂</div>
  <div class="panel-body">
    <% if @users.present? %>
      <% @users.each do |user| %>
        <div class="media user-card">
          <div class="media-left"><%= link_to user_photo(user, ''), user %></div>
          <div class="media-body">
            <div class="media-heading"><%= link_to user.username, user %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<!-- <div class="panel panel-default">
  <div class="panel-body">
    <table data-toggle="table"
           data-toolbar="#toolbar"
           data-page-list="[10, 25, 50, 100, ALL]"
           data-show-columns="true"
           data-show-pagination-switch="true"
           data-show-refresh="true"
           data-search="true"
           data-pagination="true"
           data-response-handler="responseHandler"
           data-key-events="true">
    </table>
  </div>
</div>

<script>
  $('table').bootstrapTable({
    columns: [{
        field: 'id',
        title: 'Item ID'
    }, {
        field: 'name',
        title: 'Item Name'
    }, {
        field: 'price',
        title: 'Item Price'
    }],
    // data: <%= raw @notes.to_json %>
});

</script> -->