<!DOCTYPE html>
<html>
  <head>
    <title>Bbs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/shared/header' %>
    <div class="container">
      <%= notice_message %>
      <div class="row">
        <div class="col-md-4 user">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="media">
                <div class="avatar media-left">
                  <%= user_photo @user, 'media-object'%>
                  <div><span class="label label-info role"><%= (@user.has_role? :admin) ? '管理员' : '会员'  %></span></div>
                </div>
                <div class="media-body">
                  <div class="username">
                    <b><%= @user.username  %></b>
                  </div>
                  <div class="number">
                    第 <%= @user.id %> 位用户 / <span title="注册日期"><%= format_time @user.created_at %></span>
                  </div>
                  <div class="counts">
                    <span><%= @user.topics_count %></span> 篇帖子 • <span><%= @user.replies_count %></span> 条回帖
                  </div>
                  <div class="mail">
                    <%= mail_to @user.email do %>
                      <i class="fa fa-envelope-o fa-lg"></i>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="follow-info row">

                <div class="col-xs-4">
                  <%= link_to @user.follower_ids.count, users_followers_path(@user), class: 'counter followers' %>
                  <%= link_to '关注者', users_followers_path, class: 'text' %>
                </div>

                <div class="col-xs-4">
                  <%= link_to @user.following_ids.count, users_following_path(@user), class: 'counter following' %>
                  <%= link_to '正在关注', users_following_path(@user), class: 'text' %>
                </div>

                <div class="col-xs-4">
                  <%= link_to @user.favorite_topic_ids.count, users_favorites_path(@user), class: 'counter favoirtes' %>
                  <%= link_to '收藏', users_favorites_path(@user), class: 'text' %>
                </div>

              </div>

            </div>
            <% if current_user %>
              <% if @user != current_user %>
                <div class="follow-user row">
                  <div class="col-xs-6 follow">
                    <% if current_user.has_follow? @user %>
                      <%= link_to users_unfollow_path(@user), class: "btn btn-primary btn-block", method: :post, remote: true do %> <i class="fa fa-user"></i>取消关注
                      <% end %>

                    <% else %>
                      <%= link_to users_follow_path(@user), class: "btn btn-primary btn-block", method: :post, remote: true do %> <i class="fa fa-user"></i>关注<% end %>

                    <% end %>
                  </div>
                  <div class="col-xs-6 block">
                    <%= link_to users_block_path(@user), class: "btn btn-block btn-default", method: :post, remote: true do %> <i class="fa fa-eye-slash"></i>屏蔽 <% end %>
                  </div>
                </div>
              <% end %>
          <% end %>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">个人说明</div>
            <div class="panel-body">
              <% if @user.bio.present? %>
                <%= simple_format @user.bio %>
              <% else %>
                这个用户很懒，什么也没说
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <ul class="nav nav-tabs">
            <li class="userinfo"><%= link_to '个人信息', user_path(@user) %></li>
            <li class="user_topics"><%= link_to '帖子', users_topics_path(@user)  %></li>
            <li class="user_replies"><%= link_to '回帖', users_replies_path(@user) %></li>
            <li class="user_favorites"><%= link_to '收藏', users_favorites_path(@user) %></li>
            <li class="user_notes"><%= link_to '记事本', users_notes_path(@user) %></li>
            <li class="user_following"><%= link_to '正在关注', users_following_path(@user) %></li>
            <li class="user_followers"><%= link_to '关注者', users_followers_path(@user) %></li>
          </ul>
          <div><%= yield %></div>
        </div>
      </div>
    </div>
    <%= render 'layouts/shared/footer' %>
  </body>
</html>
